
Driverino.sch-bak
*.sch-bak
*.kicad_pcb-bak
*.bck
_autosave*.*
bom/*
Driverino-backups/Driverino-2024-05-17_165433.zip
Driverino-backups/Driverino-2024-05-20_111855.zip
Driverino-backups/Driverino-2024-05-21_083412.zip
Driverino-backups/Driverino-2024-05-21_085220.zip
Driverino-backups/Driverino-2024-05-21_090432.zip
Driverino-BOTTOM.png
Driverino-ISO.png
Driverino-Schematics.png
Driverino-TOP.png
Driverino.csv
Driverino.kicad_pcb.zip
Production/Driverino-B_Cu.gbr
Production/Driverino-B_Mask.gbr
Production/Driverino-B_Paste.gbr
Production/Driverino-B_Silkscreen.gbr
Production/Driverino-drl.rpt
Production/Driverino-Edge_Cuts.gbr
Production/Driverino-F_Cu.gbr
Production/Driverino-F_Mask.gbr
Production/Driverino-F_Paste.gbr
Production/Driverino-F_Silkscreen.gbr
Production/Driverino-job.gbrjob
Production/Driverino-NPTH-drl_map.gbr
Production/Driverino-NPTH.drl
Production/Driverino-PTH-drl_map.gbr
Production/Driverino-PTH.drl
Production/Driverino.zip
